.hover-grow {
    transition: transform 0.3s cubic-bezier(.4,2,.6,1), filter 0.3s cubic-bezier(.4,2,.6,1);
    will-change: transform, filter;
    filter: drop-shadow(2px 2px 4px #151515);
}

.hover-grow:hover {
    transform: scale(1.08);
    filter: drop-shadow(0 8px 24px #a17cff);
}

.email-btn {
    border: 2px solid #343a40;
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #343a40;
    border-radius: 5px;
}

.email-btn:hover {
    background-color: #343a40;
    color: white;
    transform: translateY(-2px);
}

.jumping-spud {
    border-radius: 10px;
} 