.absolute {
    position: absolute;
}

.centered {
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cursor {
    color: white;
}

.texture-selector {
    transform: scale(5);
    left: 48%;
}

.texture-selector img:active {
    border: 2px solid red;
}

.menu {
    top: 80px;
    left: 80px;
}