.frame-2 {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(5px 5px 4px #151515)
}



.img-header {
    width: 60%;
    display: flex;
    border-radius: 20px;
    display: inline-block;
}

.specialCard{
    background: rgba(211, 141, 255, 0.75);
    /* filter: drop-shadow(5px 5px 4px #151515) */
}

.rocksalt {
    font-family: 'Rock Salt', cursive;
}

.gloria {
    font-family: 'Gloria Hallelujah', cursive;
}

.flower {
    font-family: 'Indie Flower', cursive;
}

.fuzzy {
    font-family: 'Fuzzy Bubbles', cursive;
}

.beenie {
    font-family: 'Reenie Beanie', cursive;
}

.spudsite {
    letter-spacing: 6px;
    text-shadow: red 0 0, cyan 0 0;
    transition: text-shadow 265ms;
    font-weight: bolder;
}

.spudsite:hover {
    text-shadow: red -3px 0, cyan 3px 0;
}

.social-icons {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 1em;
    filter: drop-shadow(3px 3px 3px #151515)
   
}

.social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em;
}

.social-icons i {
    color: #5e17ae;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all 265ms ease-out;
}

.social-icons a {
    display: inline-block;
}

.social-icons a::before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    transition: ease-out;
}

.social-icons a:hover::before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

.social-icons a:hover i {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    color: #5e17ae;
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}

.funk-n-jump {
    position: absolute;
    top: 20%;
    right: 2%;
    filter: drop-shadow(0px 0px 3px #1515154b)
}

.songSymbol {
    width: 70px;
    height: auto;
    filter: drop-shadow(4px 4px 4px #151515)
}

.songSymbol img:before {
    transform: scale(1);
    transition: ease;
}

.songSymbol:hover {
    transform: scale(1.5);
    transition: all 200ms ease;
}


